  <%= form_with(model: contact, local: true) do |f| %>
    <% if contact.errors.any? %>
  <div id="error_explanation">
            <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

            <ul>
            <% contact.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
  </div>   
    <% end %>
          
          <div class="row" style="margin-bottom: 15%">
            <div class="col s7 left-align" data-aos="fade-right" data-aos-duration="2500">
              <div class="col 3 left-align" style="margin-right: 5%">
                <div>
                  <strong><%= f.label :first_name, style: 'color: white;' %></strong><br>
                  <%= f.text_field :first_name, class: 'form-control', style: 'color: white;' %>
                </div>
                <div>
                  <strong><%= f.label :last_name, style: 'color: white;' %></strong><br>
                  <%= f.text_field :last_name, class: 'form-control', style: 'color: white;' %>
                </div>
                <div>
                  <strong><%= f.label :email, style: 'color: white;' %></strong><br>
                  <%= f.email_field :email, class: 'form-control', style: 'color: white;' %>
                </div>
              </div>

              <div class="col 3" style="border-left: solid; border-color: white; border-width: 2px; border-radius: 2px;">
                <div>
                  <strong><%= f.label :address, style: 'color: white;' %></strong><br>
                  <%= f.text_field :address, class: 'form-control', style: 'color: white;' %>
                </div>
                <div>
                  <strong><%= f.label :city, style: 'color: white;' %></strong><br>
                  <%= f.text_field :city, class: 'form-control', style: 'color: white;' %>
                </div>
                <div>
                  <strong><%= f.label :zip, style: 'color: white;' %></strong><br>
                  <%= f.text_field :zip, class: 'form-control', style: 'color: white;' %>
                </div>
              </div>
            </div>

            <div class="col s5 right-align" data-aos="fade-left" data-aos-duration="2500">
              <h4>
                Personal Information
              </h4>
              <h6>Let us know a little about you!</h6>
              <p style="color: #4ba931"><i>*United States customers only</i></p>
            </div>
          </div>

          <div class="row">
            <div class="col s5" data-aos="fade-right" data-aos-duration="2500">
              <h4>
                Space Information
              </h4>
              <h6>
                Tell us about the space!
              </h6>
              <p style="color: #4ba931"><i>*Additional fees may apply</i></p>
            </div>
            <div class="col s7">
                <div class=" row center-align" style="margin-bottom: 10%; padding-bottom: 5%" data-aos="fade-up" data-aos-duration="2500">
                    
                    <div class="col s2" style="margin-right: 10%">
                       <h5>
                        Beds:
                      </h5> 
                      <h3 id="demo"></h3>
                    </div>
                    <div class="col s5">
                      <%= f.range_field :bed, class: 'slide', id: 'myRange', style: 'width: 350px', min: 1, max: 10, value: 0  %>
                    </div>
                    
                    
                </div>
                <div class=" row center-align" style="margin-bottom: 10%; padding-bottom: 5%" data-aos="fade-up" data-aos-duration="2500">
                  <div class="col s2" style="margin-right: 10%">
                    <h5>
                      Baths:
                    </h5>
                    <h3 id="demo2"></h3>
                  </div>
                  <div class="col s5">
                    <%= f.range_field :bath, class: 'slide', id: 'myRange2', style: 'width: 350px', min: 1, max: 10, value: 0  %>
                  </div>
                    
                </div>
                <div class=" row center-align" style="margin-bottom: 10%; padding-bottom: 5%" data-aos="fade-up" data-aos-duration="2500">
                  <div class="col s2" style="margin-right: 10%">
                    <h5>
                      Square Feet:
                    </h5>
                    <h3 id="demo3"></h3>
                  </div>
                  <div class="col s5">
                    <%= f.range_field :square_feet, class: 'slide', id: 'myRange3', style: 'width: 350px;', min: 100, max: 10000, value: 0, step: '100'  %>
                  </div>
                    
                    
                    
                </div>

            </div>
          </div>


          <div class="input-field row" style="margin-top: 10%">
            
              <div class="col s6" data-aos="fade-right" data-aos-duration="2500">
                <h4>
                  Special Services:
                </h4>
                <h6>
                  Is there any special tasks you would like done? (Windows, Oven, Carpet etc...)
                </h6>
              </div>
               <div class="col s6" style="margin-top: 5%" data-aos="fade-left" data-aos-duration="2500">
                <%= f.select :special_services, ['None', 'Windows', 'Refrigerator', 'Oven', 'Carpet Shampoo', 'Carpet Steam'] %>
             </div> 
          </div>

          <div class="input-field row" style="margin-top: 10%">
            
              <div class="col s6" data-aos="fade-right" data-aos-duration="2500">
                <h4>
                  Service Type:
                </h4>
                <h6>
                  How often would you need our services?
                </h6>
              </div>
              <div class="col s6" style="margin-top: 5%" data-aos="fade-left" data-aos-duration="2500">
                <%= f.select :service_type, ['One Time', 'Weekly', 'Bi-Weekly', 'Monthly'] %>
              </div> 
          </div>


          <div align="center" class="row" style="margin-top: 15%; margin-bottom: 40%">
            <%= f.submit "Send", class: "btn waves-effect waves-light", :style => "background-color: white; color: black; margin-top: 10px; width:23%;" %>
          </div>
     
  
<% end %>
              



