<!DOCTYPE html>
<html>
  <head>
    <title>Dream Think Achieve Cleaning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('Logo-3-5.jpg'), :rel => 'icon', :type =>  'image/png' %>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Signika+Negative&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '510964779714492');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=510964779714492&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->


   <style>
    
      /* width */
      ::-webkit-scrollbar {
          width: 10px;Y
      }

      /* Track */
      ::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px lightgrey; 
          border-radius: 10px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
          background: lightgrey; 
          /*border-radius: 10px;*/
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
          background: white; 
      }

     /* Fade in */
      .animate-bottom {
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s
      }

      @-webkit-keyframes animatebottom {
        from { bottom:-100px; opacity:0 } 
        to { bottom:0px; opacity:1 }
      }

      @keyframes animatebottom { 
        from { bottom:-100px; opacity:0 } 
        to { bottom:0; opacity:1 }
      }

      #myDiv {
        display: none;
        text-align: center;
      }

    </style>

  </head>

  <body>

    <%= render 'partials/nav' %>
  
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>



    <%= yield %>
    <%= render 'partials/footer' %>

  </body>
</html>
