<!DOCTYPE html>
<html>
  <head>
    <title>Dream Think Achieve Cleaning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('Logo-3-5.jpg'), :rel => 'icon', :type =>  'image/png' %>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script>
         $(document).ready(function() {
            $('select').formSelect();
         });
    </script>

   <style>
      /* width */
      ::-webkit-scrollbar {
          width: 10px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px lightgrey; 
          border-radius: 10px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
          background: lightgrey; 
          /*border-radius: 10px;*/
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
          background: white; 
      }

       /* Fade in */
        .animate-bottom {
          position: relative;
          -webkit-animation-name: animatebottom;
          -webkit-animation-duration: 1s;
          animation-name: animatebottom;
          animation-duration: 1s
        }

        @-webkit-keyframes animatebottom {
          from { bottom:-100px; opacity:0 } 
          to { bottom:0px; opacity:1 }
        }

        @keyframes animatebottom { 
          from{ bottom:-100px; opacity:0 } 
          to{ bottom:0; opacity:1 }
        }

        #myDiv {
          display: none;
          text-align: center;
        }
    </style>

  </head>

  <body>

    <%= render 'partials/nav' %>
  
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

      
  
    <%= yield %>
    <%= render 'partials/footer' %>

  </body>
</html>
